#dashBoardGridPane .label {
    -fx-background-color: #515151;
    -fx-text-fill: white;
    -fx-background-radius: 3px;
    -fx-padding: 5px;
}

#dashBoardGridPane {
    -fx-hgap: 10px;
    -fx-vgap: 10px;
}

.button:hover {
    -fx-background-color: #ffc400;
    -fx-text-fill: black;
}

.button:pressed {
    -fx-background-color: #b38a00;
}

.button {
    -fx-background-color: #515151;
    -fx-text-fill: white;
    -fx-background-radius: 3px;
}

.text-field {
    -fx-background-color: #515151;
    -fx-text-fill: white;
    -fx-background-radius: 3px;
    -fx-padding: 5px;
}

HBox {
    -fx-spacing: 10px;
}

VBox {
    -fx-spacing: 10px;
}

StackPane {
    -fx-background-color: #515151;
}

