.root {
    -fx-background-color: #333333;
    /*1d263c*/
    -fx-font-family: Arial, Helvetica, sans-serif;
}

.button {
    -fx-background-color: #515151;
    -fx-text-fill: white;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
}

.text-field {
    -fx-background-color: #515151;
    -fx-text-fill: white;
    -fx-background-radius: 3px;
    -fx-padding: 10px;
}

.taskListTitleLabel {
    -fx-background-color: #515151;
    -fx-text-fill: white;
    -fx-background-radius: 3px;
    -fx-padding: 10px;
}

#sideBarVbox {
    -fx-padding: 0px 15px 0px 15px;
    -fx-spacing: 10px;
    -fx-background-radius: 3px;
    -fx-background-color: #232323;
}

.button:hover {
    -fx-background-color: #ffc400;
    -fx-text-fill: black;
}

.button:pressed {
    -fx-background-color: #b38a00;
}

ScrollPane {
    -fx-background-color: #232323;
}

#todoVbox {
    -fx-background-color: #232323;
    -fx-spacing: 10px;
    -fx-padding: 10px 5px 0px 5px;
}

#ongoingVbox {
    -fx-background-color: #232323;
    -fx-spacing: 10px;
    -fx-padding: 10px 5px 0px 5px;
}

#doneVbox {
    -fx-background-color: #232323;
    -fx-spacing: 10px;
    -fx-padding: 10px 5px 0px 5px;
}

#miscVbox {
    -fx-background-color: #232323;
    -fx-spacing: 10px;
    -fx-padding: 0px 5px 0px 5px;
}

#dashboardHbox {
    -fx-spacing: 15px;
    -fx-padding: 10px 5px 0px 5px;
}

#scrollPane {
    -fx-background-color: #232323;
}

.scroll-bar {
    -fx-background-color: #333333;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #232323;
}

.menu-bar {
    -fx-background-color: #232323;
    -fx-padding: 5px 0px 5px 10px;
}

.context-menu {
    -fx-background-color: #232323;
}

VBox {
    -fx-spacing: 5px;
}

ScrollPane {
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
}

.menu-bar .label {
    -fx-text-fill: white;
    -fx-background-radius: 3px;
}

.menu-item {
    -fx-background-color: #232323;
}

.menu:hover {
    -fx-background-color: #ffc400;
    -fx-text-fill: black;
}

.menu:pressed {
    -fx-background-color: #ffc400;
    -fx-text-fill: black;
}

.menu-item:hover {
    -fx-background-color: #ffc400;
    -fx-text-fill: black;
}