.root {
    -fx-background-color: #333333;
    /*1d263c*/
    -fx-font-family: Arial, Helvetica, sans-serif;
}

.button {
    -fx-background-color: #838383;
    -fx-text-fill: white;
}

.label {
    -fx-background-color: #838383;
    -fx-text-fill: white;
    -fx-background-radius: 2px;
    -fx-padding: 10px;
}

#sideBarVbox {
    -fx-padding: 0px 15px 0px 15px;
    -fx-spacing: 10px;
}

ScrollPane {
    -fx-background-color: #232323;
}

#todoVbox {
    -fx-background-color: #232323;
    -fx-spacing: 10px;
    -fx-padding: 10px 5px 0px 5px;
}

#ongoingVbox {
    -fx-background-color: #232323;
    -fx-spacing: 10px;
    -fx-padding: 10px 5px 0px 5px;
}

#doneVbox {
    -fx-background-color: #232323;
    -fx-spacing: 10px;
    -fx-padding: 10px 5px 0px 5px;
}

#miscVbox {
    -fx-background-color: #232323;
    -fx-spacing: 10px;
    -fx-padding: 0px 5px 0px 5px;
}

#dashboardHbox {
    -fx-spacing: 10px;
    -fx-padding: 10px 5px 0px 5px;
}

#scrollPane {
    -fx-background-color: #232323;
}

.scroll-bar {
    -fx-background-color: #333333;
}

.scroll-bar:vertical .thumb {
    -fx-background-color: #232323;
}